/* TeamSection.css */

.team-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* background: rgb(255,87,51);
    background: radial-gradient(circle, rgba(255,87,51,1) 0%, rgb(0, 0, 0) 100%); */
  }
  
  .team-member {
    text-align: center;
  }
  
  .member-image {
    width: 300px; 
    /* max-width: 400px;  */
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
  
  .member-name {
    font-size: 34px;
    font-weight: 1900;
    margin-top: 10px;
    font-weight: bold;
    color: white;
  }
  
  .member-position {
    font-size: 28px;

    color: #666;
    color: rgb(253, 44, 44);
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 768px) {
    .team-member {
        
      max-width: 80%; 
      margin: 20px auto; 
    }
  
    .member-image {
      width: 150px;
      height: 150px;
    }
  
    .member-name {
      font-size: 20px; 
      color: white;
    }
  
    .member-position {
      font-size: 16px; 
      color: rgb(253, 44, 44);
    }
  }
  